<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.example.demo.board.BoardMapper">


	<insert id="insertBoard" parameterType="com.example.demo.board.Board">
		INSERT INTO tb_boards
      (seq,
      "content",
      title,
      rgstr_date,
      updt_date,
      user_id)
      VALUES
      ((SELECT COALESCE(max(seq),0)+1 AS seq FROM tb_boards),
      #{content},
      #{title},
      now(),
      now(),
      #{user_id}
      )
	</insert>

  <select id="list" resultType="com.example.demo.board.Board">
    select * from tb_boards order by rgstr_date desc
  </select>
  
  <select id="listCount">
    select count(*) from tb_boards
  </select>

  <select id="view" resultType="com.example.demo.board.Board">
    select * from tb_boards where seq = #{seq}
  </select>

  <update id="edit" parameterType="com.example.demo.board.Board">
    update tb_boards set 
      title = #{title}, 
      content = #{content}, 
      updt_date = now() 
    where seq = #{seq}
  </update>

  <update id="countup" parameterType="com.example.demo.board.Board">
    update tb_boards set
      view_cnt = view_cnt + 1
    where seq = #{seq}
  </update>

  <delete id="delete" parameterType="com.example.demo.board.Board">
    DELETE FROM public.tb_boards
    WHERE seq = #{seq}
  </delete>
</mapper>