<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.example.demo.board.BoardMapper">


	<insert id="insertBoard" parameterType="com.example.demo.board.Board">
		INSERT INTO tb_boards
      (seq,
      "content",
      title,
      rgstr_date,
      updt_date,
      user_id)
      VALUES
      ((SELECT COALESCE(max(seq),0)+1 AS seq FROM tb_boards),
      #{content},
      #{title},
      now(),
      now(),
      #{user_id}
      )
	</insert>

</mapper>