<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.example.demo.product.ProductMapper">


	<insert id="addproduct" parameterType="com.example.demo.product.Product">
		INSERT INTO tb_product
      (seq,
      product_code,
      product_name,
      product_price,
      product_stock,
      rgstr_date,
      updt_date)
      VALUES
      ((SELECT COALESCE(max(seq),0)+1 AS seq FROM tb_product),
      #{product_code},
      #{product_name},
      #{product_price},
      #{product_stock},
      now(),
      now()
      )
	</insert>
  <select id = "productlist" resultType="com.example.demo.product.Product">
    select * from tb_product order by rgstr_date desc
  </select>

  <select id="productinfo" resultType="com.example.demo.product.Product">
    select * from tb_product where seq = #{seq}
  </select>

  <update id="productedit2" parameterType="com.example.demo.product.Product">
    update tb_product set
      product_code = #{product_code},
      product_name = #{product_name},
      product_price = #{product_price},
      product_stock = #{product_stock},
      rgstr_date =now()
    where seq = #{seq}
  </update>
</mapper>