<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  <mapper namespace="com.example.demo.user.UserMapper">


	<insert id="adduser" parameterType="com.example.demo.user.User">
		INSERT INTO tb_user
      (seq,
      id,
      pw,
      email,
      tel,
      address,
      rgstr_date,
      updt_date)
      VALUES
      ((SELECT COALESCE(max(seq),0)+1 AS seq FROM tb_user),
      #{id},
      #{pw},
      #{email},
      #{tel},
      #{address},
      now(),
      now()
      )
	</insert>


</mapper>